body{
    font-family: sans-serif, Arial, Helvetica;
    background-color: rgb(54, 54, 54);
}
#container{
    display: flex;
    justify-content: center;
    padding: 50px;
}
.content{
    text-align: center;
    padding: 30px 100px 40px 100px;
    box-shadow: 2px 2px 1px 1px rgb(156, 156, 156);
    border-radius: 6px;
    background-color: rgb(228, 228, 228);
}
#input{
    width: 250px;
    height: 16px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    padding: 6px;
    box-shadow: 2px 2px 10px 3px rgb(162, 162, 162);
}
.search_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: none;
}
#btn{
    border: none;
    font-size: 15px;
    padding: 5px 12px;
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
}
#btn:hover{
    background-color: rgb(44, 44, 44);
}
#movieBox{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}
.title, .releaseYr{
    color: white;
    margin-left: 12px;
}
.box{
    box-shadow: 1px 1px 8px 1px white;
}
.box:hover{
    box-shadow: none;
    border: 1px solid white;
}

@media (max-width:520px){
    .box img{
        width: 100%;
    }
    #movieBox{
        padding: 10px;
    }
    h1{
        display: none;
    }
    .content{
        padding: 15px;
    }
}